body {
  font-family: Arial, sans-serif;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}

#listaTarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
