body {
  font-family: Arial, sans-serif;
}

#resultado {
  font-size: 1.2rem;
  font-weight: bold;
}

.correta {
  color: green;
  font-weight: bold;
}

.errada {
  color: red;
  font-weight: bold;
}
